[package]
name = "server-cf-worker"
publish = false
version.workspace = true
edition.workspace = true
repository = "https://github.com/exograph/exograph"

[lib]
crate-type = ["cdylib"]

[dependencies]
tracing.workspace = true
tracing-subscriber = { workspace = true, features = ["fmt"] }
http.workspace = true
url.workspace = true

wasm-bindgen = "0.2.105"
wasm-bindgen-futures = "0.4.55"
tracing-web = "0.1.3"

worker = { version = "0.6.7", features = ["tokio-postgres"] }

web-sys = "0.3.69"

tokio-postgres = { workspace = true, features = ["js"] }

serde_json = { workspace = true, features = ["preserve_order"] }
tokio = { workspace = true }

postgres-resolver = { path = "../postgres-subsystem/postgres-resolver" }
core-plugin-shared = { path = "../core-subsystem/core-plugin-shared" }
system-router = { path = "../system-router" }
common = { path = "../common" }
exo-sql = { path = "../../libs/exo-sql" }
exo-env = { path = "../../libs/exo-env" }

console_error_panic_hook = { version = "0.1.7", optional = true }

[features]
panic_hook = ["console_error_panic_hook"]
