[package]
name = "server-cf-worker"
publish = false
version.workspace = true
edition.workspace = true
repository = "https://github.com/exograph/exograph"

[lib]
crate-type = ["cdylib"]

[dependencies]
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", default-features = false, features = [
  "fmt",
] }

wasm-bindgen = "0.2.84"
serde-wasm-bindgen = "0.6.5"
wasm-bindgen-futures = "0.4.42"
tracing-web = "0.1.3"

worker = { version = "0.2.0", features = ["tokio-postgres"] }
web-sys = "0.3.69"

serde = { version = "1.0", features = ["derive"] }

tokio-postgres = { workspace = true, features = ["js"] }

serde_json = { workspace = true, features = ["preserve_order"] }
tokio = { workspace = true }

resolver = { path = "../resolver" }
core-resolver = { path = "../core-subsystem/core-resolver" }
postgres-resolver = { path = "../postgres-subsystem/postgres-resolver" }
core-plugin-shared = { path = "../core-subsystem/core-plugin-shared" }
exo-sql = { path = "../../libs/exo-sql" }

console_error_panic_hook = { version = "0.1.7", optional = true }

[features]
default = ["oidc"]
panic_hook = ["console_error_panic_hook"]
oidc = ["core-resolver/oidc"]
