[package]
name = "deno-resolver"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0"
async-graphql-parser = "5.0.6"
async-graphql-value = "5.0.6"
async-recursion = "1.0.0"
async-trait = "0.1.53"
# Make sure deno_core version matches the one in the Cargo.toml of the payas_deno crate
# It looks like if we re-export the deno_core crate from the payas_deno crate, the #[op] macro panics (it looks for the deno_core crate local Cargo.toml)
deno_core = "0.171.0" 
futures = "0.3"
maybe-owned = "0.3.4"
serde_json = { version = "1.0", features = ["preserve_order"] }
thiserror = "1.0.30"
tokio = "1"

payas-deno = { path = "../../../libs/payas-deno" }
core-plugin-interface = { path = "../../core-subsystem/core-plugin-interface" }
deno-model = { path = "../deno-model" }


[dev-dependencies]
tokio = "1"
builder = { path = "../../builder" }


[lib]
crate-type = ["lib", "cdylib"]
