[workspace.package]
version = "0.9.0"
edition = "2021"

# See https://github.com/mozilla/application-services/blob/main/Cargo.toml for the reasons why we use this structure
[workspace]
members = [
  "crates/builder",
  "crates/cli",
  "crates/resolver",
  "crates/server-actix",
  "crates/server-aws-lambda",
  "crates/server-cf-worker",
  "crates/server-common",
  "crates/testing",
  "crates/core-subsystem/*",
  "crates/postgres-subsystem/*",
  "crates/deno-subsystem/*",
  "crates/wasm-subsystem/*",
  "crates/subsystem-util/*",
  "crates/introspection-subsystem/*",
  "libs/exo-deno",
  "libs/exo-sql",
  "libs/exo-wasm",
  "libs/exo-env",
]

# The default workspace member to run `cargo` commands on (we exclude server-aws-lambda here, since we don't need to build it during normal development)
# Pass --all to `cargo` to include it
default-members = [
  "crates/builder",
  "crates/cli",
  "crates/resolver",
  "crates/server-actix",
  "crates/testing",
  "crates/core-subsystem/*",
  "crates/postgres-subsystem/*",
  "crates/deno-subsystem/*",
  "crates/wasm-subsystem/*",
  "crates/subsystem-util/*",
  "crates/introspection-subsystem/*",
  "crates/server-common",
  "libs/exo-deno",
  "libs/exo-sql",
  "libs/exo-wasm",
  "libs/exo-env",
]

resolver = "2"

[workspace.dependencies]
colored = "2.0"
anyhow = "1.0"
async-graphql-parser = "7.0.2"
async-graphql-value = "7.0.2"
async-recursion = "1.0.0"
async-trait = "0.1.53"
bincode = "1.3.3"
bytes = "1"
chrono = { version = "0.4.22", default-features = false, features = ["clock"] }
codemap = "0.1.3"
codemap-diagnostic = "0.1.1"
ctor = "0.2.6"

#deno = { git = "https://github.com/exograph/deno.git", branch = "patched_1_44_4" }
#deno_fs = { git = "https://github.com/exograph/deno.git", branch = "patched_1_44_4" }
#deno_runtime = { git = "https://github.com/exograph/deno.git", branch = "patched_1_44_4" }
#deno_virtual_fs = { git = "https://github.com/exograph/deno.git", branch = "patched_1_44_4" }
deno = { path = "../deno/cli" }
deno_fs = { path = "../deno/ext/fs" }
deno_runtime = { path = "../deno/runtime" }
deno_virtual_fs = { path = "../deno/virtual_fs" }

deno_ast = "=0.39.2"
deno_core = "0.290.0"
deno_graph = "=0.78.1"
deno_semver = "=0.5.6"
deno_npm = "=0.21.4"

futures = "0.3.29"
heck = "0.4.0"
include_dir = "0.7.2"
indexmap = "2.0.1"
insta = { version = "1.31.0", features = ["redactions", "yaml"] }
jsonwebtoken = "9.3.0"
lazy_static = "1.4.0"
maybe-owned = "0.3.4"
rand = "0.8"
regex = "1"
reqwest = { version = "0.11.20", default-features = false, features = [
  "rustls-tls-native-roots",
] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1"
serde_yaml = "0.9.4"
tempfile = "3.0.0"
test-log = "0.2.15"
thiserror = "1.0.31"
tracing = "0.1"
tokio = "1"
tokio-postgres = { version = "0.7.10", default-features = false }
deadpool-postgres = { version = "0.13.2", default-features = false }
tree-sitter = "0.20.10"
tree-sitter-c2rust = "0.20.11-pre.1"
tree-sitter-cli = "0.20.8"
typed-generational-arena = { version = "0.2.5", features = ["serde"] }
uuid = "1.1.2"
url = "2.3.1"
wasmtime = "13.0.0"
wasmtime-wasi = "13.0.0"
wasi-common = "13.0.0"
wildmatch = "2.1.0"
which = "5.0.0"
wasm-bindgen-test = "0.3.42"
wasm-bindgen-test-macro = "0.3.42"
multiplatform_test = "0.0.0"

[patch.crates-io]
tokio-postgres = { git = "https://github.com/exograph/rust-postgres", branch = "exograph" }
postgres-types = { git = "https://github.com/exograph/rust-postgres", branch = "exograph" }

# reduce binary size, does not affect stack traces
[profile.dev]
debug = 1

[profile.release]
lto = true
codegen-units = 1
strip = true

[profile.release.package.server-cf-worker]
opt-level = "s" # optimize for size in release builds
