[workspace.package]
version = "0.10.1"
edition = "2021"

# See https://github.com/mozilla/application-services/blob/main/Cargo.toml for the reasons why we use this structure
[workspace]
members = [
  "crates/builder",
  "crates/cli",
  "crates/router",
  "crates/resolver",
  "crates/playground-router",
  "crates/server-actix",
  "crates/server-aws-lambda",
  "crates/server-cf-worker",
  "crates/server-common",
  "crates/testing",
  "crates/core-subsystem/*",
  "crates/postgres-subsystem/*",
  "crates/deno-subsystem/*",
  "crates/wasm-subsystem/*",
  "crates/subsystem-util/*",
  "crates/introspection-subsystem/*",
  "libs/exo-deno",
  "libs/exo-sql",
  "libs/exo-wasm",
  "libs/exo-env",
]

# The default workspace member to run `cargo` commands on (we exclude server-aws-lambda here, since we don't need to build it during normal development)
# Pass --all to `cargo` to include it
default-members = [
  "crates/builder",
  "crates/cli",
  "crates/router",
  "crates/resolver",
  "crates/playground-router",
  "crates/server-actix",
  "crates/testing",
  "crates/core-subsystem/*",
  "crates/postgres-subsystem/*",
  "crates/deno-subsystem/*",
  "crates/wasm-subsystem/*",
  "crates/subsystem-util/*",
  "crates/introspection-subsystem/*",
  "crates/server-common",
  "libs/exo-deno",
  "libs/exo-sql",
  "libs/exo-wasm",
  "libs/exo-env",
]

resolver = "2"

[workspace.dependencies]
colored = "2.0"
anyhow = "1.0"
async-graphql-parser = "7.0.6"
async-graphql-value = "7.0.11"
async-recursion = "1.1.1"
async-stream = "0.3.6"
async-trait = "0.1.83"
bincode = "1.3.3"
bytes = "1"
chrono = { version = "0.4.22", default-features = false, features = ["clock"] }
codemap = "0.1.3"
codemap-diagnostic = "0.1.1"
ctor = "0.2.8"
http = "1"

deno = { git = "https://github.com/exograph/deno.git", branch = "patched_2_0_2" }
deno_fs = { git = "https://github.com/exograph/deno.git", branch = "patched_2_0_2" }
deno_runtime = { git = "https://github.com/exograph/deno.git", branch = "patched_2_0_2" }
deno_virtual_fs = { git = "https://github.com/exograph/deno.git", branch = "patched_2_0_2" }
node_resolver = { git = "https://github.com/exograph/deno.git", branch = "patched_2_0_2" }

deno_ast = "=0.42.2"
deno_core = "0.314.1"
deno_graph = "=0.83.3"
deno_semver = "=0.5.14"
deno_npm = "=0.25.4"

futures = "0.3.29"
heck = "0.5.0"
include_dir = "0.7.2"
indexmap = "2"
insta = { version = "1.40.0", features = ["redactions", "yaml"] }
jsonwebtoken = "9.3.0"
lazy_static = "1.5.0"
maybe-owned = "0.3.4"
rand = "0.8"
regex = "1"
reqwest = { version = "0.12.8", default-features = false, features = [
  "rustls-tls-native-roots",
] }
rustls = { version = "0.23.10", features = ["ring"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1"
serde_yaml = "0.9.34"
tempfile = "3.0.0"
test-log = "0.2.16"
thiserror = "1.0.64"
tracing = "0.1"
tokio = "1"
tokio-postgres = { version = "0.7.12", default-features = false }
deadpool-postgres = { version = "0.14.0", default-features = false }
tree-sitter = "0.20.10"
tree-sitter-c2rust = "0.20.11-pre.1"
tree-sitter-cli = "0.20.8"
typed-generational-arena = { version = "0.2.5", features = ["serde"] }
uuid = "1.1.2"
url = "2.3.1"
wasmtime = "25.0.2"
wasmtime-wasi = "25.0.2"
wasi-common = "25.0.2"
wildmatch = "2.4.0"
which = "6.0.1"
wasm-bindgen-test = "0.3.45"
wasm-bindgen-test-macro = "0.3.45"
multiplatform_test = "0.1.0"

# reduce binary size, does not affect stack traces
[profile.dev]
debug = 1

[profile.release]
lto = true
codegen-units = 1
strip = true

[profile.release.package.server-cf-worker]
opt-level = "s" # optimize for size in release builds
