[package]
name = "postgres-core-builder"
version.workspace = true
edition.workspace = true
publish = false

[dependencies]
heck.workspace = true
serde.workspace = true
codemap-diagnostic.workspace = true
codemap.workspace = true

core-plugin-interface = { path = "../../core-subsystem/core-plugin-interface" }
postgres-core-model = { path = "../postgres-core-model" }
exo-sql = { path = "../../../libs/exo-sql" }

[dev-dependencies]
insta.workspace = true
wasm-bindgen-test.workspace = true
wasm-bindgen-test-macro.workspace = true
multiplatform_test.workspace = true
builder = { path = "../../builder" }

exo-sql = { path = "../../../libs/exo-sql" }
postgres-builder = { path = "../postgres-builder" }

[target.'cfg(not(target_family = "wasm"))'.dev-dependencies]
deno-builder = { path = "../../deno-subsystem/deno-builder" }

[lib]
crate-type = ["lib"]
doctest = false
