[package]
name = "postgres-builder"
version.workspace = true
edition.workspace = true
publish = false

[dependencies]
async-trait.workspace = true
postgres-graphql-builder = { path = "../postgres-graphql-builder" }
postgres-rest-builder = { path = "../postgres-rest-builder" }
core-plugin-interface = { path = "../../core-subsystem/core-plugin-interface" }

[dev-dependencies]
tokio.workspace = true
multiplatform_test.workspace = true
wasm-bindgen-test.workspace = true
wasm-bindgen-test-macro.workspace = true

builder = { path = "../../builder" }
exo-sql = { path = "../../../libs/exo-sql" }
postgres-graphql-model = { path = "../postgres-graphql-model" }

[lib]
crate-type = ["lib"]
doctest = false
