[package]
name = "server-actix"
version = "0.1.0"
edition = "2021"
repository = "https://github.com/exograph/exograph"

[dependencies]
async-trait.workspace = true
actix-web = { version = "4.1.0", default-features = false, features = [
  "macros",
  "cookies",
] }
actix-cors = "0.6.2"
actix-files = "0.6.2"

serde_json = { workspace = true, features = ["preserve_order"] }
futures.workspace = true
tracing.workspace = true
tracing-actix-web = "0.6.0"
resolver = { path = "../resolver" }
core-resolver = { path = "../core-subsystem/core-resolver" }
server-common = { path = "../server-common" }

[target.'cfg(target_os = "windows")'.dependencies]
openssl = { version = "0.10.50", features = ["vendored"] }

[features]
static-postgres-resolver = ["server-common/static-postgres-resolver"]
static-deno-resolver = ["server-common/static-deno-resolver"]
static-wasm-resolver = ["server-common/static-wasm-resolver"]
default = [
  "static-postgres-resolver",
  "static-deno-resolver",
  "static-wasm-resolver",
]

[[bin]]
name = "exo-server"
path = "src/main.rs"
doctest = false
