[package]
name = "payas-deno"
version = "0.1.0"
authors = ["Ramnivas Laddad <ramnivas@payalabs.com>"]
edition = "2021"

[dependencies]
actix = "0.12"
anyhow = "1.0"
crossbeam-channel = "0.5"
deno_runtime = "0.29.0"
deno_core = "0.103.0"
tokio = { version = "1", features = ["full"] }
futures = "0.3"
lazy_static = "1.4.0"
serde = { version = "1.0", features = ["derive"] }
serde_v8 = "0.15.0"
serde_json = "1.0"

payas-model = { path = "../payas-model" }

[lib]
