[package]
name = "subsystem-model-builder-util"
version.workspace = true
edition.workspace = true
publish = false

[dependencies]
serde.workspace = true
codemap-diagnostic.workspace = true
codemap.workspace = true
async-trait.workspace = true

core-model = { path = "../../core-subsystem/core-model" }
core-plugin-shared = { path = "../../core-subsystem/core-plugin-shared" }
core-model-builder = { path = "../../core-subsystem/core-model-builder" }
subsystem-model-util = { path = "../subsystem-model-util" }

[dev-dependencies]
tokio.workspace = true
builder = { path = "../../builder" }

[target.'cfg(not(target_family = "wasm"))'.dev-dependencies]
deno-builder = { path = "../../deno-subsystem/deno-builder" }

[lib]
doctest = false
