[package]
name = "core-resolver"
version.workspace = true
edition.workspace = true
publish = false

[features]
default = []

[dependencies]
async-graphql-parser.workspace = true
async-graphql-value.workspace = true
async-recursion.workspace = true
async-trait.workspace = true
bytes.workspace = true
futures.workspace = true
serde_json = { workspace = true, features = ["preserve_order"] }
serde.workspace = true
thiserror.workspace = true
tokio = { workspace = true, features = ["rt", "macros"] }
http = { workspace = true }
tracing.workspace = true

exo-sql = { path = "../../../libs/exo-sql" }
exo-env = { path = "../../../libs/exo-env" }
core-model = { path = "../core-model" }
core-plugin-shared = { path = "../core-plugin-shared" }
rpc-introspection = { path = "../../rpc-introspection" }
common = { path = "../../common" }

[dev-dependencies]
insta.workspace = true
postgres-builder = { path = "../../postgres-subsystem/postgres-builder" }
core-model-builder = { path = "../core-model-builder" }
postgres-resolver = { path = "../../postgres-subsystem/postgres-resolver" }
tokio-postgres.workspace = true
wasm-bindgen-test.workspace = true
wasm-bindgen-test-macro.workspace = true

builder = { path = "../../builder", features = ["test-context"] }
core-plugin-interface = { path = "../core-plugin-interface" }

[lib]
doctest = false
