[package]
name = "core-resolver"
version = "0.1.0"
edition = "2021"

[features]
test-context = []

[dependencies]
async-graphql-parser.workspace = true
async-graphql-value.workspace = true
async-recursion.workspace = true
async-trait.workspace = true
bytes.workspace = true
futures.workspace = true
serde_json = { workspace = true, features = ["preserve_order"] }
jsonwebtoken.workspace = true
serde.workspace = true
thiserror.workspace = true
cookie = "0.16"
tokio.workspace = true

tracing.workspace = true

payas-sql = { path = "../../../libs/payas-sql" }
core-model = { path = "../core-model" }
core-plugin-shared = { path = "../core-plugin-shared" }

[dev-dependencies]
insta.workspace = true

builder = { path = "../../builder", features = ["test-context"] }
postgres-model = { path = "../../postgres-subsystem/postgres-model" }

[lib]
