[package]
name = "core-resolver"
version.workspace = true
edition.workspace = true
publish = false

[features]
default = []
test-context = []
jwt = ["jsonwebtoken", "reqwest", "oidc-jwt-validator"]

[dependencies]
async-graphql-parser.workspace = true
async-graphql-value.workspace = true
indexmap.workspace = true
async-recursion.workspace = true
async-trait.workspace = true
bytes.workspace = true
futures.workspace = true
serde_json = { workspace = true, features = ["preserve_order"] }
jsonwebtoken = { workspace = true, optional = true }
reqwest = { workspace = true, optional = true }
oidc-jwt-validator = { version = "0.2.3", optional = true }
serde.workspace = true
thiserror.workspace = true
cookie = "0.16"
tokio = { workspace = true, features = ["rt", "macros"] }
elsa = "1.8.1"

tracing.workspace = true

exo-sql = { path = "../../../libs/exo-sql" }
core-model = { path = "../core-model" }
core-plugin-shared = { path = "../core-plugin-shared" }
common = { path = "../../common" }

[dev-dependencies]
insta.workspace = true
postgres-model-builder = { path = "../../postgres-subsystem/postgres-model-builder" }
postgres-resolver = { path = "../../postgres-subsystem/postgres-resolver" }
wasm-bindgen-test.workspace = true
wasm-bindgen-test-macro.workspace = true
multiplatform_test.workspace = true
tokio-test.workspace = true

builder = { path = "../../builder", features = ["test-context"] }
core-plugin-interface = { path = "../core-plugin-interface" }

[target.'cfg(not(target_family = "wasm"))'.dev-dependencies]
exo-sql = { path = "../../../libs/exo-sql", features = ["postgres-url"] }

[lib]
doctest = false

