[package]
name = "core-plugin-interface"
version.workspace = true
edition.workspace = true
publish = false

[build-dependencies]
built = "0.8.0"

[dependencies]
thiserror.workspace = true
async-trait.workspace = true
core-model-builder = { path = "../core-model-builder" }
core-resolver = { path = "../core-resolver" }
core-plugin-shared = { path = "../core-plugin-shared" }
exo-env = { path = "../../../libs/exo-env" }

[target.'cfg(not(target_family = "wasm"))'.dependencies]
libloading = "0.9.0"

[dev-dependencies]

[lib]
doctest = false
