[package]
name = "core-plugin-interface"
version.workspace = true
edition.workspace = true
publish = false

[build-dependencies]
built = "0.6"

[dependencies]
thiserror.workspace = true
async-trait.workspace = true
async-graphql-value.workspace = true
async-graphql-parser.workspace = true
codemap-diagnostic.workspace = true
core-model-builder = { path = "../core-model-builder" }
core-resolver = { path = "../core-resolver" }
core-model = { path = "../core-model" }
core-plugin-shared = { path = "../core-plugin-shared" }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
libloading = "0.7.3"

[dev-dependencies]

[lib]
doctest = false
