[package]
name = "core-plugin-interface"
version = "0.1.0"
edition = "2021"

[build-dependencies]
built = "0.5"

[dependencies]
libloading = "0.7.3"
thiserror = "1.0.30"
async-graphql-parser = "4.0.5"
codemap-diagnostic = "0.1.1"
core-model-builder = { path = "../core-model-builder" }
core-resolver = { path = "../core-resolver" }
core-model = { path = "../core-model" }
core-plugin-shared = { path = "../core-plugin-shared" }

[dev-dependencies]

[lib]
