[package]
name = "postgres-core-model"
version.workspace = true
edition.workspace = true
publish = false

[dependencies]
serde.workspace = true
bincode.workspace = true

exo-sql = { path = "../../../libs/exo-sql" }
core-model = { path = "../../core-subsystem/core-model" }
core-resolver = { path = "../../core-subsystem/core-resolver" }
core-plugin-shared = { path = "../../core-subsystem/core-plugin-shared" }
common = { path = "../../common" }

[dev-dependencies]
tokio.workspace = true
wasm-bindgen-test.workspace = true
bincode.workspace = true
exo-sql = { path = "../../../libs/exo-sql", features = [
  "bigdecimal",
  "test-support",
  "testing",
  "interactive-migration",
] }
sqlparser = "0.60.0"
colored.workspace = true

common = { path = "../../common", features = ["test-support"] }
builder = { path = "../../builder" }
postgres-builder = { path = "../postgres-builder" }
core-model-builder = { path = "../../core-subsystem/core-model-builder" }

[lib]
doctest = false
