[package]
name = "server-common"
version.workspace = true
edition.workspace = true
publish = false

[dependencies]
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["registry", "env-filter"] }
tracing-opentelemetry = "=0.22"
opentelemetry = { version = "=0.21", default-features = false, features = [
  "trace",
] }
opentelemetry_sdk = { version = "=0.21", features = ["rt-tokio"] }
opentelemetry-otlp = { version = "=0.14", features = [
  "reqwest-client",
  "reqwest-rustls",
  "http-proto",
  "tls",
] }
# Tonic isn't used directly but we need these flags to establish a TLS connection
tonic = { version = "0.9", features = ["tls", "tls-roots"] }

resolver = { path = "../resolver" }
core-resolver = { path = "../core-subsystem/core-resolver" }
core-plugin-interface = { path = "../core-subsystem/core-plugin-interface" }
postgres-resolver = { path = "../postgres-subsystem/postgres-resolver", optional = true }
deno-resolver = { path = "../deno-subsystem/deno-resolver", optional = true }
wasm-resolver = { path = "../wasm-subsystem/wasm-resolver", optional = true }

[features]
static-postgres-resolver = ["postgres-resolver"]
static-deno-resolver = ["deno-resolver"]
static-wasm-resolver = ["wasm-resolver"]
cross = ["deno-resolver/cross"]
not_cross = ["deno-resolver/not_cross"]

[lib]
doctest = false
