# Ignore autocreated contexts.d.ts.
contexts.d.ts
exograph.d.ts
generated
introspection.actual.graphql
rpc-introspection.actual.json

.wrangler/
node_modules

# Ignore Cloudflare Workers files generated during cli testing
wrangler.toml
.dev.vars