[package]
name = "postgres-graphql-resolver"
version.workspace = true
edition.workspace = true
publish = false

[features]

[dependencies]
async-graphql-parser.workspace = true
async-recursion.workspace = true
async-trait.workspace = true
futures.workspace = true
indexmap.workspace = true
serde_json = { workspace = true, features = ["preserve_order"] }
tokio.workspace = true

exo-sql = { path = "../../../libs/exo-sql" }
exo-env = { path = "../../../libs/exo-env" }
core-plugin-interface = { path = "../../core-subsystem/core-plugin-interface" }
postgres-graphql-model = { path = "../postgres-graphql-model" }
postgres-core-resolver = { path = "../postgres-core-resolver" }
common = { path = "../../common" }

[dev-dependencies]
tokio.workspace = true
builder = { path = "../../builder" }
common = { path = "../../common", features = ["test-context"] }
postgres-builder = { path = "../postgres-builder" }
http.workspace = true
wasm-bindgen-test.workspace = true

[lib]
crate-type = ["lib"]
doctest = false
