[package]
name = "testing"
version.workspace = true
edition.workspace = true
publish = false

[features]
static-postgres-resolver = ["server-common/static-postgres-resolver"]
static-deno-resolver = ["server-common/static-deno-resolver"]
static-wasm-resolver = ["server-common/static-wasm-resolver"]
default = [
  "static-postgres-resolver",
  "static-deno-resolver",
  "static-wasm-resolver",
]

[dependencies]
anyhow.workspace = true
colored.workspace = true
deno_core.workspace = true
num_cpus = "1.13.1"
serde.workspace = true
jsonwebtoken.workspace = true
serde_yaml.workspace = true
serde_json.workspace = true
tokio-postgres.workspace = true
rand.workspace = true
regex.workspace = true
tokio.workspace = true
async-graphql-parser.workspace = true
async-graphql-value.workspace = true
md5 = "0.7"
wildmatch.workspace = true
include_dir.workspace = true
unescape = "0.1.0"

exo-sql = { path = "../../libs/exo-sql", features = [ "deadpool", "tls", "postgres-url", "testing" ] }
exo-deno = { path = "../../libs/exo-deno", features = ["typescript-loader"] }

core-resolver = { path = "../core-subsystem/core-resolver" }
resolver = { path = "../resolver", features = ["jwt"] }

core-plugin-interface = { path = "../core-subsystem/core-plugin-interface" }

server-common = { path = "../server-common" }
futures.workspace = true
crossbeam-channel = "0.5.8"


[dev-dependencies]
insta.workspace = true
ctor.workspace = true

[build-dependencies]
which.workspace = true

[lib]
doctest = false
