[package]
name = "testing"
version.workspace = true
edition.workspace = true
publish = false

[features]
static-postgres-resolver = ["server-common/static-postgres-resolver"]
static-deno-resolver = ["server-common/static-deno-resolver"]
static-wasm-resolver = ["server-common/static-wasm-resolver"]
default = [
  "static-postgres-resolver",
  "static-deno-resolver",
  "static-wasm-resolver",
]

[dependencies]
anyhow.workspace = true
colored.workspace = true
num_cpus = "1.13.1"
serde.workspace = true
jsonwebtoken.workspace = true
serde-saphyr.workspace = true
serde_json.workspace = true
rand.workspace = true
regex.workspace = true
tokio.workspace = true
async-graphql-parser.workspace = true
async-graphql-value.workspace = true
http.workspace = true
md5 = "0.8.0"
wildmatch.workspace = true

common = { path = "../common" }
introspection-util = { path = "../introspection-util" }

exo-sql = { path = "../../libs/exo-sql", features = [
  "tls",
  "postgres-url",
  "test-support",
  "pool",
] }
exo-deno = { path = "../../libs/exo-deno", features = ["typescript-loader"] }
exo-env = { path = "../../libs/exo-env" }

system-router = { path = "../system-router" }

core-plugin-shared = { path = "../core-subsystem/core-plugin-shared" }
server-common = { path = "../server-common" }
futures.workspace = true
crossbeam-channel = "0.5.13"


[dev-dependencies]
insta.workspace = true

[lib]
doctest = false
