/*
  Copyright Exograph, Inc. All rights reserved.

  Use of this software is governed by the Business Source License
  included in the LICENSE file at the root of this repository.

  As of the Change Date specified in that file, in accordance with
  the Business Source License, use of this software will be governed
  by the Apache License, Version 2.0.
*/

@import "tailwindcss";

/* Protect GraphiQL from TailwindCSS interference */
.graphiql-container {
  all: revert;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

#root {
  height: 100vh;
}
