name: Exograph CI

on:
  push:
    branches: [ "main" ]
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Install deps
      run: sudo apt-get install -y protobuf-compiler postgresql-13
    - name: Run cargo fmt
      uses: actions-rs/cargo@v1
      with:
        command: fmt
        args: --all -- --check

    - name: Run cargo clippy
      uses: actions-rs/cargo@v1
      with:
        command: clippy
        args: --all-targets -- -D warnings
  check:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Install deps
      run: sudo apt-get install -y protobuf-compiler postgresql-13
    - name: Run cargo check
      uses: actions-rs/cargo@v1
      with:
        command: check
        args: --all-targets
        
  test:
    runs-on: ubuntu-latest
  
    steps:
      - uses: actions/checkout@v3
      - name: Install deps
        run: sudo apt-get install -y protobuf-compiler postgresql-13
      - name: Run cargo test
        run: cargo test --workspace
        
  test-integration:
    runs-on: ubuntu-latest
  
    steps:
      - uses: actions/checkout@v3
      - name: Install deps
        run: sudo apt-get install -y protobuf-compiler postgresql-13
      - name: Run exo test
        run: EXO_RUN_INTROSPECTION_TESTS=true cargo run -p cli -- test integration-tests
